In [11]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [3]:
submission = pd.read_csv('sample_submission.csv')
submission.head()

   ImageId  Label
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0

In [6]:
train_dataset = pd.read_csv('train.csv')
test_dataset = pd.read_csv('test.csv')
train_dataset.shape

(42000, 785)

In [7]:
train_dataset.columns

Index(['label', 'pixel0', 'pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5',
       'pixel6', 'pixel7', 'pixel8',
       ...
       'pixel774', 'pixel775', 'pixel776', 'pixel777', 'pixel778', 'pixel779',
       'pixel780', 'pixel781', 'pixel782', 'pixel783'],
      dtype='object', length=785)

In [9]:
test_dataset.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
X_train, X_test, y_train, y_test = train_test_split(
    train_dataset.drop(['label'], axis=1), train_dataset.label, test_size=0.3)
X_test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
2270,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12841,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32278,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2815,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38871,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
train_dataset.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
train_dataset['label'][0]

1

In [43]:
batch_size = 50

sess = tf.InteractiveSession()

input_x = tf.placeholder(shape=[None, 784],dtype=tf.float32, name='input_x')
label_y = tf.placeholder(shape=[None, 10], dtype=tf.float32, name='label_y')

weight1 = tf.Variable(tf.truncated_normal([784, 1024], stddev=0.1), dtype=tf.float32)
b1 = tf.constant(0., shape=[1024])
fc1 = tf.matmul(input_x,weight1) + b1
fz1 = tf.nn.relu(fc1)

weight2 = tf.Variable(tf.truncated_normal([1024, 10], stddev=0.1), dtype=tf.float32)
b2 = tf.constant(0., shape=[10])

fc2 = tf.matmul(fz1, weight2) + b2
fz2 = tf.nn.sigmoid(fc2)
pred_y = tf.nn.softmax(fz2)

loss_func = tf.sqrt( tf.square(pred_y) - tf.square(label_y))
optimizer = tf.train.GradientDescentOptimizer(0.01).minimize(loss_func)

correct_prediction = tf.equal(tf.argmax(pred_y,1), tf.argmax(label_y,1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

sess.run(tf.global_variables_initializer())
for step in range(10000):
    batch_x = X_train[:][step*batch_size%X_train.shape[0] : (step+1)*batch_size%X_train.shape[0]]
    batch_y = y_train[:][step*batch_size%X_train.shape[0] : (step+1)*batch_size%X_train.shape[0]]
    
    sess.run(optimizer, feed_dict={input_x:batch_x, label_y:batch_y})
    
    if step%500 == 0:
        sess.eval(accuracy, feed_dict={input_x:batch_x, label_y:batch_y})
        print('train step: %d, accuracy: %.2f' % (step, accuracy))

ValueError: Cannot feed value of shape (50,) for Tensor 'label_y_1:0', which has shape '(?, 10)'